<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.664643258545-0vscnqr7f0uhc9dqoivlkihq2tciv2kk</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>CourierPrime-Regular.ttf</string>
		<string>CourierPrime-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Button2</string>
		<key>UIImageName</key>
		<string>FoodFridgeSplash</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
